-- Actualizar puestos de empleados desde datos originales

UPDATE empleados e SET puesto_id = p.id FROM puestos p WHERE e.codigo_empleado = 'AGV0002' AND p.nombre = 'Director General';
UPDATE empleados e SET puesto_id = p.id FROM puestos p WHERE e.codigo_empleado = 'AGV0010' AND p.nombre = 'Supervisor de Recepcion, Materiales y Despachos a Maquilas';
