-- SCRIPT DE CORRECCIËN COMPLETA DE SUPERVISORES
-- Generado automßticamente comparando JSON con BD


-- LOTE 1
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0010';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV0018';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0034';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10545562') WHERE codigo_empleado = 'AGV0065';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09310906') WHERE codigo_empleado = 'AGV0076';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44409869') WHERE codigo_empleado = 'AGV0083';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09310906') WHERE codigo_empleado = 'AGV0111';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10184621') WHERE codigo_empleado = 'AGV0124';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09310906') WHERE codigo_empleado = 'AGV0125';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09310906') WHERE codigo_empleado = 'AGV0187';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09310906') WHERE codigo_empleado = 'AGV0240';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV0246';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0265';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10184621') WHERE codigo_empleado = 'AGV0267';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0298';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '29672410') WHERE codigo_empleado = 'AGV0315';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0319';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41279012') WHERE codigo_empleado = 'AGV0343';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV0359';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09310906') WHERE codigo_empleado = 'AGV0361';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09310906') WHERE codigo_empleado = 'AGV0362';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0384';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '29672410') WHERE codigo_empleado = 'AGV0397';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40214605') WHERE codigo_empleado = 'AGV0404';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41866820') WHERE codigo_empleado = 'AGV0427';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44943485') WHERE codigo_empleado = 'AGV0442';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44409869') WHERE codigo_empleado = 'AGV0455';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0470';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42260711') WHERE codigo_empleado = 'AGV0476';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0524';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41361328') WHERE codigo_empleado = 'AGV0563';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV0572';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0573';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0603';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0612';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0618';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44943485') WHERE codigo_empleado = 'AGV0619';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10184621') WHERE codigo_empleado = 'AGV0620';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '29672410') WHERE codigo_empleado = 'AGV0628';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41274325') WHERE codigo_empleado = 'AGV0630';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44023039') WHERE codigo_empleado = 'AGV0632';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44943485') WHERE codigo_empleado = 'AGV0640';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV0650';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0653';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41866820') WHERE codigo_empleado = 'AGV0662';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV0663';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44943485') WHERE codigo_empleado = 'AGV0668';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV0674';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10545562') WHERE codigo_empleado = 'AGV0685';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0690';

-- LOTE 2
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40123188') WHERE codigo_empleado = 'AGV0691';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41274325') WHERE codigo_empleado = 'AGV0706';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0725';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40123188') WHERE codigo_empleado = 'AGV0729';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV0749';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44943485') WHERE codigo_empleado = 'AGV0767';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41279012') WHERE codigo_empleado = 'AGV0771';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0776';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10184621') WHERE codigo_empleado = 'AGV0780';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41279012') WHERE codigo_empleado = 'AGV0786';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0800';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV0801';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44023039') WHERE codigo_empleado = 'AGV0802';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41274325') WHERE codigo_empleado = 'AGV0823';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0836';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09599599') WHERE codigo_empleado = 'AGV0850';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0852';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV0856';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40123188') WHERE codigo_empleado = 'AGV0866';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV0867';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0868';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0872';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '29672410') WHERE codigo_empleado = 'AGV0878';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV0881';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV0884';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44866308') WHERE codigo_empleado = 'AGV0885';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44866308') WHERE codigo_empleado = 'AGV0893';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42260711') WHERE codigo_empleado = 'AGV0896';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41866820') WHERE codigo_empleado = 'AGV0898';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10545562') WHERE codigo_empleado = 'AGV0905';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10545562') WHERE codigo_empleado = 'AGV0914';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0915';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV0922';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV0924';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42260711') WHERE codigo_empleado = 'AGV0925';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '08883259') WHERE codigo_empleado = 'AGV0926';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '43431921') WHERE codigo_empleado = 'AGV0931';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42260711') WHERE codigo_empleado = 'AGV0934';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10184621') WHERE codigo_empleado = 'AGV0935';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42260711') WHERE codigo_empleado = 'AGV0939';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09599599') WHERE codigo_empleado = 'AGV0946';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV0949';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV0950';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10184621') WHERE codigo_empleado = 'AGV0952';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0953';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '08883259') WHERE codigo_empleado = 'AGV0956';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10545562') WHERE codigo_empleado = 'AGV0957';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0959';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44023039') WHERE codigo_empleado = 'AGV0961';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV0963';

-- LOTE 3
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0964';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV0965';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09599599') WHERE codigo_empleado = 'AGV0966';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV0967';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44023039') WHERE codigo_empleado = 'AGV0968';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44023039') WHERE codigo_empleado = 'AGV0970';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0973';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV0976';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42260711') WHERE codigo_empleado = 'AGV0978';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV0979';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV0980';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV0984';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '06812394') WHERE codigo_empleado = 'AGV0986';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '46576009') WHERE codigo_empleado = 'AGV0991';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV0996';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44943485') WHERE codigo_empleado = 'AGV0997';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV0999';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '29672410') WHERE codigo_empleado = 'AGV1001';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV1002';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41274325') WHERE codigo_empleado = 'AGV1008';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09310906') WHERE codigo_empleado = 'AGV1012';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV1013';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1014';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41361328') WHERE codigo_empleado = 'AGV1015';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV1018';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '43431921') WHERE codigo_empleado = 'AGV1020';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV1024';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV1026';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44824879') WHERE codigo_empleado = 'AGV1031';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV1033';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '46576009') WHERE codigo_empleado = 'AGV1036';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV1037';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV1038';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41361328') WHERE codigo_empleado = 'AGV1039';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1040';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44943485') WHERE codigo_empleado = 'AGV1042';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '43431921') WHERE codigo_empleado = 'AGV1044';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '43431921') WHERE codigo_empleado = 'AGV1045';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '43431921') WHERE codigo_empleado = 'AGV1046';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44023039') WHERE codigo_empleado = 'AGV1048';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV1049';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41274325') WHERE codigo_empleado = 'AGV1050';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '08883259') WHERE codigo_empleado = 'AGV1052';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '09599599') WHERE codigo_empleado = 'AGV1053';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41279012') WHERE codigo_empleado = 'AGV1054';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1058';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1062';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44866308') WHERE codigo_empleado = 'AGV1064';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41274325') WHERE codigo_empleado = 'AGV1065';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1068';

-- LOTE 4
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1070';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV1071';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV1073';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '43431921') WHERE codigo_empleado = 'AGV1074';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV1075';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41300244') WHERE codigo_empleado = 'AGV1076';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1077';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1079';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '08883259') WHERE codigo_empleado = 'AGV1081';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '46576009') WHERE codigo_empleado = 'AGV1082';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '43431921') WHERE codigo_empleado = 'AGV1084';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '43431921') WHERE codigo_empleado = 'AGV1085';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42933766') WHERE codigo_empleado = 'AGV1089';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1091';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44943485') WHERE codigo_empleado = 'AGV1092';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV1093';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1094';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40560230') WHERE codigo_empleado = 'AGV1095';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44409869') WHERE codigo_empleado = 'AGV1098';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1100';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1102';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1103';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42933766') WHERE codigo_empleado = 'AGV1105';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44023038') WHERE codigo_empleado = 'AGV1109';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV1110';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '29672410') WHERE codigo_empleado = 'AGV1111';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV1112';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV1116';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV1118';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV1120';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV1121';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40560230') WHERE codigo_empleado = 'AGV1124';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1126';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1127';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV1128';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '08883259') WHERE codigo_empleado = 'AGV1130';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1132';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1133';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44866308') WHERE codigo_empleado = 'AGV1134';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '08883259') WHERE codigo_empleado = 'AGV1135';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41126035') WHERE codigo_empleado = 'AGV1136';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41866820') WHERE codigo_empleado = 'AGV1137';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV1138';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV1139';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '46609730') WHERE codigo_empleado = 'AGV1141';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44023038') WHERE codigo_empleado = 'AGV1142';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV1144';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '02887604') WHERE codigo_empleado = 'AGV1145';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '46434409') WHERE codigo_empleado = 'AGV1146';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44824879') WHERE codigo_empleado = 'AGV1147';

-- LOTE 5
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV1148';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV1149';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40238779') WHERE codigo_empleado = 'AGV1152';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44510264') WHERE codigo_empleado = 'AGV1153';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '10184621') WHERE codigo_empleado = 'AGV1154';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '47146124') WHERE codigo_empleado = 'AGV1156';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '44510264') WHERE codigo_empleado = 'AGV1158';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '45682368') WHERE codigo_empleado = 'AGV1159';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41274325') WHERE codigo_empleado = 'AGV1161';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '41487544') WHERE codigo_empleado = 'AGV1162';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '46609730') WHERE codigo_empleado = 'AGV1163';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '46974645') WHERE codigo_empleado = 'AGV1164';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '73409693') WHERE codigo_empleado = 'AGV1165';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '40123188') WHERE codigo_empleado = 'AGV1166';
UPDATE empleados SET supervisor_id = (SELECT id FROM empleados WHERE dni = '42166202') WHERE codigo_empleado = 'AGV1167';

-- Total de 215 empleados actualizados

-- Verificar resultado:
SELECT COUNT(*) FROM empleados WHERE supervisor_id IS NULL AND codigo_empleado != 'AGV0002';
