-- PASO 1: Obtener IDs de puestos
DO $$
DECLARE
  puesto_record RECORD;
BEGIN
  -- Crear tabla temporal para mapeo de puestos
  CREATE TEMP TABLE IF NOT EXISTS temp_puestos_map (nombre TEXT, puesto_id INT);
  FOR puesto_record IN SELECT id, nombre FROM puestos LOOP
    INSERT INTO temp_puestos_map VALUES (puesto_record.nombre, puesto_record.id);
  END LOOP;
END $$;

-- PASO 2: Insertar empleados (sin supervisores)

-- PASO 3: Actualizar supervisores
DO $$
DECLARE
  emp_record RECORD;
  supervisor_id_var INT;
BEGIN
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '09849767';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '09314068';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41118341';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10545562';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '10184621';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09310906';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '10545562';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44409869';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '09351865';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09310906';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41300244';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10184621';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '07097049';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09310906';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40123188';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09310906';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '29672410';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09310906';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41866820';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '42705690';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '07514765';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10184621';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '09308424';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '43997960';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '29672410';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '08459479';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44671261';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41279012';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41274325';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '42166202';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09310906';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40560230';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09310906';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40238779';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '47881508';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '29672410';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44527068';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40214605';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44866308';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41866820';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41361328';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44943485';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44065263';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44409869';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '10120502';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '09881789';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42260711';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '42428258';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44880919';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41361328';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48170297';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '06812394';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40326738';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44510264';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41279012';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70538548';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44943485';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '49080294';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10184621';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '07082032';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '29672410';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44307069';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41274325';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '47049563';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44023039';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46609730';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44943485';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72611115';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46481506';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48138936';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41866820';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41487544';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '43271693';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44943485';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '45434771';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '42133895';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10545562';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '09372197';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48319203';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40123188';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '09599599';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41274325';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '10095081';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '10880202';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40123188';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '45267996';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40816315';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44943485';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '09533163';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41279012';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44023038';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '45340693';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10184621';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71066355';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41279012';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '08883259';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '47146124';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '45682368';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44023039';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46556650';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41274325';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41126035';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '002114405';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09599599';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44824879';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '47525376';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71329473';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40123188';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44409869';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46434409';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '43978070';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46974645';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '29672410';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72477744';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '47700102';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '23997723';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44866308';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '47832678';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44866308';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72474117';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42260711';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '10434281';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41866820';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '42933766';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10545562';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '42260711';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10545562';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44943485';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '74176101';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40252256';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '76163353';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42260711';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46462043';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '08883259';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '76845847';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '43431921';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48517948';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42260711';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '75096888';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10184621';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '47566082';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42260711';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '73362975';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09599599';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46594683';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71337566';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '02887604';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10184621';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '09597601';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40808976';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '08883259';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48113547';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10545562';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '43431921';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70438614';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44023039';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '73141547';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '75131900';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '007080768';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '74390287';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09599599';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46554968';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41967991';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44023039';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48248365';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44023039';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '43967204';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '007078460';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41747025';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42260711';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41221724';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72706327';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71491227';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '74932277';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '06812394';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48170145';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '46576009';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72217788';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71618290';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44943485';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '74205077';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70993751';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '29672410';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71747437';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70691089';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41274325';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70357139';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09310906';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40214605';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '09918364';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '73489936';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41361328';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48340724';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '73134126';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '43431921';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '74123539';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48476040';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46403531';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44824879';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70890247';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41434910';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '46576009';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71872184';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '75994233';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70827118';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41361328';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72793869';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '47445953';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44943485';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70604766';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '43431921';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41676618';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '43431921';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '74299298';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '43431921';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '75706717';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44023039';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '76569973';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '60789436';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41274325';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70613872';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '08883259';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70166395';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '09599599';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '76134040';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41279012';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40627935';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72212319';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '75728077';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44866308';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '43302712';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41274325';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41352478';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '76605055';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72181704';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '42039545';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40602403';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '43431921';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72567118';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '73257866';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41300244';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72168925';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '45263715';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '74096193';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '08883259';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48395142';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '46576009';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72802670';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '43431921';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '45672003';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '43431921';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '25773070';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42933766';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72188682';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72193032';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44943485';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70885189';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46373012';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70112700';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40560230';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '76749265';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44409869';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '77025697';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '76217474';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72522922';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72839638';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42933766';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70982117';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44023038';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46753717';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46455569';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '29672410';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72644298';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '42585020';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44565606';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72869070';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70902987';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71914533';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40560230';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '07826393';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '73409693';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '74230044';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '73073054';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '08883259';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '76695340';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71792073';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71132558';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44866308';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '77463557';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '08883259';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '44120590';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41126035';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '40961746';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41866820';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46576009';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48705619';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '62948691';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '46609730';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '75254819';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44023038';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70418798';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '76490171';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '02887604';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '29631547';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '46434409';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '73199615';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44824879';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '74220087';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '48552044';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '74324450';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40238779';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '76393671';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44510264';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72666791';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '10184621';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '47479678';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '47146124';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '73019940';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '44510264';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '75439270';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '45682368';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '71774340';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41274325';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '47161226';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '41487544';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '006620552';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '46609730';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '41133415';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '46974645';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '73378593';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '73409693';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '72910612';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '40123188';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '46204593';
  END IF;
  SELECT id INTO supervisor_id_var FROM empleados WHERE dni = '42166202';
  IF supervisor_id_var IS NOT NULL THEN
    UPDATE empleados SET supervisor_id = supervisor_id_var WHERE dni = '70745565';
  END IF;
END $$;

-- PASO 4: Crear usuarios
-- Password hash para 'Agrovet2026!': $2b$10$rI7jN5rGZxKvPqF.yH1vIeGqE9KJ.XqGZQ7aRf3qKLJ8Z9pL3Ld5m

-- PASO 5: Crear periodos vacacionales 2026
INSERT INTO periodos_vacacionales (empleado_id, anio_generacion, fecha_inicio_periodo, fecha_fin_periodo, dias_totales, dias_disponibles, dias_usados, viernes_usados, tiene_bloque_7dias, estado)
SELECT id, 2026, '2026-01-01'::date, '2026-12-31'::date, 30, 30, 0, 0, false, 'activo'
FROM empleados;

-- Total empleados a cargar: 219
