-- Actualizar puestos de todos los empleados
-- Script generado autom├íticamente

UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Director General') WHERE dni = '09310906' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Recepcion, Materiales y Despachos a Maquilas') WHERE dni = '09849767' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Ventas Ganader´┐¢a') WHERE dni = '09314068' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Producto Terminado, Distribucion y Transporte') WHERE dni = '41118341' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Administraci´┐¢n') WHERE dni = '10184621' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Director de Finanzas y Tecnologias de la Informacion') WHERE dni = '10545562' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Control de Procesos') WHERE dni = '09351865' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Directora de Investigacion y Desarrollo') WHERE dni = '41300244' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Limpieza Y Mantenimiento') WHERE dni = '07097049' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Directora de Desarrollo Organizacional') WHERE dni = '40123188' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Subgerente de Ventas Internacionales') WHERE dni = '29672410' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gerente de Logistica y Distribucion') WHERE dni = '41866820' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Ventas Ganader´┐¢a') WHERE dni = '42705690' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Materiales y Despacho Maquilas') WHERE dni = '07514765' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asesor') WHERE dni = '09308424' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Materiales y Despacho Maquilas') WHERE dni = '43997960' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente Administrativo de Ventas Internacionales') WHERE dni = '08459479' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Coordinador de Proyectos de Mejora de TI') WHERE dni = '44671261' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Subgerente de Estabilidades y Validaciones Analiticas') WHERE dni = '41274325' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gerente de Marketing') WHERE dni = '42166202' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gerente de Proyectos y Procesos Farmaceuticos') WHERE dni = '40560230' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Directora Comercial Local') WHERE dni = '40238779' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Producto Terminado y Distribucion') WHERE dni = '47881508' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe Tecnico Comercial Internacional Petmedica America Latina') WHERE dni = '44527068' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Produccion de Maquilas') WHERE dni = '44866308' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Abastecimiento') WHERE dni = '41361328' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Finanzas') WHERE dni = '44065263' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Control de Calidad MP') WHERE dni = '10120502' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Sanidad Aves y Cerdos') WHERE dni = '09881789' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor Contable') WHERE dni = '42428258' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Distribucion Internacional') WHERE dni = '44880919' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Compras Locales') WHERE dni = '48170297' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Back Office y Procedimientos Comerciales') WHERE dni = '06812394' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Asuntos Regulatorios Cuentas Claves') WHERE dni = '40326738' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Dise´┐¢o de Material de Empaque') WHERE dni = '44510264' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gerente de Innovacion y Desarrollo Farmaceutico') WHERE dni = '41279012' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Asuntos Regulatorios Latam') WHERE dni = '70538548' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Analista de Creditos y Cobranzas') WHERE dni = '49080294' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Chofer') WHERE dni = '07082032' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de CRM') WHERE dni = '44307069' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Validaciones Analiticas') WHERE dni = '47049563' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Escalonamiento y Transferencia') WHERE dni = '46609730' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Analista de Tesoreria') WHERE dni = '72611115' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Editor de Contenidos') WHERE dni = '46481506' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Distribucion Local') WHERE dni = '48138936' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Centro de Distribucion') WHERE dni = '41487544' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Ventas Ganaderia') WHERE dni = '43271693' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Creditos y Cobranzas') WHERE dni = '45434771' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Ventas - Animales de Compa´┐¢´┐¢a') WHERE dni = '42133895' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asesor Legal') WHERE dni = '09372197' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Producto Terminado y Distribucion') WHERE dni = '48319203' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gerente de Talento Humano y SST') WHERE dni = '09599599' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Laboratorio') WHERE dni = '10095081' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Almacen') WHERE dni = '10880202' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Gestion de la Calidad') WHERE dni = '45267996' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Ventas Ganaderia') WHERE dni = '40816315' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Creditos y Cobranzas') WHERE dni = '09533163' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Subgerente de Formulacion y Desarrollo de Procesos') WHERE dni = '44023038' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Sanidad- Animales Mayores y de Produccion') WHERE dni = '45340693' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asesor Externo de Investigaci´┐¢n en Ganado Lechero') WHERE dni = '06605348' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Guardian') WHERE dni = '71066355' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Subgerente de Desarrollo Analitico') WHERE dni = '08883259' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Asuntos Regulatorios') WHERE dni = '47146124' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gerente de Animales de Compa´┐¢´┐¢a') WHERE dni = '45682368' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Formulaciones') WHERE dni = '46556650' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Estabilidades') WHERE dni = '41126035' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Mensajer´┐¢a de Investigaci´┐¢n Y Desarrollo') WHERE dni = '002114405' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Seguridad y Medio Ambiente') WHERE dni = '44824879' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Asuntos Regulatorios') WHERE dni = '47525376' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe Tecnico Comercial') WHERE dni = '71329473' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Ventas') WHERE dni = '74581999' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Control de Calidad') WHERE dni = '44409869' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Marketing Internacional') WHERE dni = '46434409' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Dise´┐¢o de Material de Empaque') WHERE dni = '43978070' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Asuntos Regulatorios') WHERE dni = '46974645' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Ventas Internacionales') WHERE dni = '72477744' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Ventas - Nutriscience') WHERE dni = '47700102' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Ventas Ganaderia Zona Sur Oriente') WHERE dni = '23997723' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Operaciones') WHERE dni = '47832678' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Dispensacion') WHERE dni = '72474117' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Costos') WHERE dni = '10434281' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Comercio Exterior') WHERE dni = '42933766' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Planeamiento Financiero') WHERE dni = '42260711' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Subgerente de Ventas Locales') WHERE dni = '06595692' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Finanzas') WHERE dni = '44943485' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Sanidad - Animales Menores y Farmacovigilancia') WHERE dni = '74176101' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Ventas Ganaderia-Zona Norte') WHERE dni = '40252256' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Marketing') WHERE dni = '76163353' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Analista Contable') WHERE dni = '46462043' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor Senior de Tecnicas Analiticas') WHERE dni = '76845847' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Aplicaciones TI') WHERE dni = '48517948' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente Contable') WHERE dni = '75096888' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Administraci´┐¢n') WHERE dni = '47566082' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Analista Contable') WHERE dni = '73362975' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Talento Humano') WHERE dni = '46594683' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gestor de Contenido Digital Veterinario') WHERE dni = '71337566' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gerente Comercial Ganaderia') WHERE dni = '02887604' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Chofer') WHERE dni = '09597601' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Direcci´┐¢n de Investigaci´┐¢n y Desarrollo') WHERE dni = '40808976' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Tecnicas Analiticas') WHERE dni = '48113547' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gerente de Transformaci´┐¢n Digital') WHERE dni = '43431921' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Asuntos Regulatorios Latam') WHERE dni = '70438614' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Formulaciones') WHERE dni = '73141547' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Ventas Ecommerce') WHERE dni = '75131900' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Almacen e Inventarios') WHERE dni = '007080768' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Ventas Ganaderia') WHERE dni = '74390287' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Comunicaci´┐¢n Interna') WHERE dni = '46554968' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Ventas Ganaderia') WHERE dni = '41967991' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Procesos Industriales') WHERE dni = '48248365' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Formulaciones 2') WHERE dni = '43967204' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Distribucion de Materiales') WHERE dni = '007078460' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'KAM Aves y Cerdos Lima - Arequipa') WHERE dni = '41747025' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Costos') WHERE dni = '41221724' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Ventas Ganaderia') WHERE dni = '72706327' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Animales de Compa´┐¢´┐¢a') WHERE dni = '71491227' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Sanidad - Animales Menores y Farmacovigilancia') WHERE dni = '74932277' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Televentas') WHERE dni = '48170145' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Operaciones y Logistica') WHERE dni = '72217788' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Distribuci´┐¢n de Materiales') WHERE dni = '71618290' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Tesoreria') WHERE dni = '74205077' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Ventas - Animales de Compa´┐¢´┐¢a') WHERE dni = '70993751' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Ventas internacionales') WHERE dni = '71747437' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Distribuci´┐¢n de Materiales') WHERE dni = '70691089' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Estabilidades') WHERE dni = '70357139' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gerente de Producci´┐¢n') WHERE dni = '40214605' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Ventas Zona Centro') WHERE dni = '09918364' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Animales de Compa´┐¢´┐¢a') WHERE dni = '73489936' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Compras Locales') WHERE dni = '48340724' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Ventas Ganaderia') WHERE dni = '73134126' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de TI') WHERE dni = '74123539' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Asuntos Regulatorios') WHERE dni = '48476040' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Marketing Linea Nutricional') WHERE dni = '46403531' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Seguridad y Medio Ambiente') WHERE dni = '70890247' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de PT y Distribuci´┐¢n') WHERE dni = '41434910' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Planeamiento Y Control de La Producci´┐¢n') WHERE dni = '71872184' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Asuntos Regulatorios') WHERE dni = '75994233' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Sanidad Animal') WHERE dni = '70827118' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Compras Internacionales') WHERE dni = '72793869' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Animales de Compa´┐¢´┐¢a') WHERE dni = '47445953' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Proyectos de Finanzas') WHERE dni = '70604766' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Infraestructura y Operaciones') WHERE dni = '41676618' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Infraestructura y Soporte TI') WHERE dni = '74299298' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Infraestructura y Soporte TI') WHERE dni = '75706717' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Formulaciones 3') WHERE dni = '76569973' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Sanidad - Animales Menores y Farmacovigilancia') WHERE dni = '60789436' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Validaciones Anal´┐¢ticas') WHERE dni = '70613872' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Desarrollo Analitico') WHERE dni = '70166395' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Atracci´┐¢n del Talento') WHERE dni = '76134040' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Propiedad Intelectual') WHERE dni = '40627935' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Animales de Compa´┐¢´┐¢a') WHERE dni = '72212319' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Animales de Compa´┐¢´┐¢a') WHERE dni = '75728077' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Operaciones de Producci´┐¢n') WHERE dni = '43302712' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Estabilidades') WHERE dni = '41352478' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Pet Nutriscience') WHERE dni = '76605055' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Pet Nutriscience') WHERE dni = '72181704' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Investigaci´┐¢n y Planeamiento de Demanda') WHERE dni = '42039545' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Recepci´┐¢n') WHERE dni = '40602403' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Infraestructura y TI - Part Time') WHERE dni = '72567118' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Asuntos Regulatorios') WHERE dni = '73257866' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Asuntos Regulatorios') WHERE dni = '72168925' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Ventas - Animales de Compa´┐¢´┐¢a') WHERE dni = '45263715' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Animales de Compa´┐¢´┐¢a') WHERE dni = '74096193' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Desarrollo Anal´┐¢tico') WHERE dni = '48395142' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Control de Producci´┐¢n') WHERE dni = '72802670' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Aplicaciones') WHERE dni = '45672003' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Proyectos de TI') WHERE dni = '25773070' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Importaciones') WHERE dni = '72188682' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Animales de Compa´┐¢´┐¢a') WHERE dni = '72193032' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Facturaci´┐¢n') WHERE dni = '70885189' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Dise´┐¢o Gr´┐¢fico') WHERE dni = '46373012' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Animales de Compa´┐¢´┐¢a') WHERE dni = '70112700' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente T´┐¢cnico de Mantenimiento') WHERE dni = '76749265' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Control de Calidad') WHERE dni = '77025697' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Pet Nutriscience') WHERE dni = '76217474' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Pet Nutriscience') WHERE dni = '72522922' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Pet Nutriscience') WHERE dni = '72839638' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Exportaciones') WHERE dni = '70982117' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Formulaciones I') WHERE dni = '46753717' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Marketing') WHERE dni = '46455569' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Dise´┐¢o Gr´┐¢fico') WHERE dni = '72644298' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de PT y Distribuci´┐¢n') WHERE dni = '42585020' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Gerente Pet Nutriscience') WHERE dni = '44565606' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Marketing') WHERE dni = '72869070' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Dise´┐¢o') WHERE dni = '70902987' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Marketing - L´┐¢nea Ganader´┐¢a / Aves y Cerdos') WHERE dni = '71914533' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Sub Gerente T´┐¢cnico de Proyectos y Asesor Comercial') WHERE dni = '07826393' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Ventas Interpet') WHERE dni = '73409693' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Venta Interpet') WHERE dni = '74230044' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Dise´┐¢o Gr´┐¢fico') WHERE dni = '73073054' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Desarrollo Anal´┐¢tico') WHERE dni = '76695340' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Venta Interpet') WHERE dni = '71792073' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Animales de Compa´┐¢´┐¢a') WHERE dni = '71132558' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Dispensaci´┐¢n') WHERE dni = '77463557' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Limpieza y Lavado') WHERE dni = '44120590' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Estabilidades') WHERE dni = '40961746' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe de Planeamiento y Control de la Producci´┐¢n') WHERE dni = '46576009' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Distribuci´┐¢n de Ventas E-Commerce') WHERE dni = '48705619' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Distribuci´┐¢n de Materiales') WHERE dni = '62948691' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Desarrollo de Packaging') WHERE dni = '75254819' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Formulaciones') WHERE dni = '70418798' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Distribuci´┐¢n de Materiales') WHERE dni = '76490171' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Jefe T´┐¢cnico Ganader´┐¢a') WHERE dni = '29631547' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Marketing Internacional') WHERE dni = '73199615' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Seguridad y Medio Ambiente') WHERE dni = '74220087' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Chofer de Operaciones Log´┐¢sticas') WHERE dni = '48552044' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Trade Marketing Pets') WHERE dni = '74324450' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Desarrollo Online') WHERE dni = '76393671' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Dise´┐¢o de Material de Empaque - Compras') WHERE dni = '72666791' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Chofer') WHERE dni = '47479678' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Asuntos Regulatorios') WHERE dni = '73019940' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Dise´┐¢o de Material de Empaque') WHERE dni = '75439270' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Promotor de Ventas Animales de Compa´┐¢´┐¢a') WHERE dni = '71774340' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Estabilidades') WHERE dni = '47161226' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Auxiliar de Distribuci´┐¢n de Ventas E-Commerce') WHERE dni = '006620552' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Procesos Industriales') WHERE dni = '41133415' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Asuntos Regulatorios') WHERE dni = '73378593' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Representante de Venta Interpet') WHERE dni = '72910612' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Aseguramiento de la Calidad') WHERE dni = '46204593' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Asistente de Dise´┐¢o Gr´┐¢fico') WHERE dni = '70745565' AND puesto_id IS NULL;

-- Total: 219 empleados actualizados
