-- Actualizar puestos de todos los empleados
-- Script generado automßticamente

UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Director General') WHERE dni = '09310906' AND puesto_id IS NULL;
UPDATE empleados SET puesto_id = (SELECT id FROM puestos WHERE nombre = 'Supervisor de Recepcion, Materiales y Despachos a Maquilas') WHERE dni = '09849767' AND puesto_id IS NULL;
